* { 
    padding: 0; 
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1;
}

.logo {
    font-size: 40px;
    margin-right: 10px;
    cursor: pointer;
}
.roomInfoWrap {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 4vh;
    padding: 10px;
}
.roomInfo {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;
    border: 1px solid lightgray;
    padding-left: 10px;
    font-size: 25px;
}
#roomNumber { 
    color: darkgray;
    margin-right: 10px;
}
.playerWrap {
    position: absolute;
    z-index: 10;

    top: 70px;
    left: 30px;

    width: 140px;
    height: 400px;

    font-size: 16px;
    overflow-x: hidden;
}
#playerList {
    width: 100%;
    margin-top: 10px;
}
.playerscore {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30px;

    padding-left: 10px;
}
.playerscore:nth-child(odd) { background-color: #f1f1f1;}
.playerscore:nth-child(even) { background-color: #eeeeee;}

.ContentWrap {
    position: relative;
    width: 60vw;
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;
}
.questionWrap{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 100%;

    color: black;
    background-color: white;
    border: 1px solid lightgray;
}
#genre {
    font-size: 14px;
    color: gray;
}
#question {
    font-size: 32px;
    margin-bottom: 15px;
}
.hint {
    margin-top: 15px;
    font-size: 24px;
}

.timerWrap {
    position: absolute;
    top: 0px;

    display: flex;
    
    justify-content: center;
    width: 90%;
    height: 10px;

    overflow: hidden;
    background-color: lightgray;
}
#timer {
    width: 100%;
    height: 100%;

    background-color: skyblue;

    transition: all 1s linear;
}

section {
    display: flex;
    flex-direction: row;
}
.ad {
    width: 15vw;
    height: 80vh;
    background: #ffffff; /* 그라디언트 배경 */
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    border-radius: 3px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
/* ✅ 광고 배너 내부 이미지 스타일 */
.ad img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* 이미지 비율 유지하며 배너 크기에 맞춤 */
}