* { 
    padding: 0; 
    margin: 0;
}
body {
    background-color: #f1f1f1;
}

.ContentWrap {
    position: relative;
    height: 460px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    margin-bottom: 10px;
}
.questionWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 100%;

    color: black;
    background-color: white;
    border: 1px solid lightgray;
}
#genre {
    font-size: 22px;
    color: gray;
}
#question {
    font-size: 40px;
    margin-bottom: 15px;
}
.hint {
    margin-top: 15px;
    font-size: 32px;
}

.timerWrap {
    display: flex;
    width: 30%;
    height: 20px;

    overflow: hidden;
    background-color: lightgray;
    border: 1px solid black;
}
#timer {
    top:0;
    left:0;
    width: 100%;
    height: 100%;

    background-color: skyblue;

    transition: all 1s linear;
}